<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>{% block title %}{% endblock %}</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <meta name="yandex-verification" content="c79afc02207badc9" />

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      (function (m, e, t, r, i, k, a) {
        m[i] =
          m[i] ||
          function () {
            (m[i].a = m[i].a || []).push(arguments);
          };
        m[i].l = 1 * new Date();
        for (var j = 0; j < document.scripts.length; j++) {
          if (document.scripts[j].src === r) {
            return;
          }
        }
        (k = e.createElement(t)),
          (a = e.getElementsByTagName(t)[0]),
          (k.async = 1),
          (k.src = r),
          a.parentNode.insertBefore(k, a);
      })(
        window,
        document,
        "script",
        "https://mc.yandex.ru/metrika/tag.js",
        "ym"
      );

      ym(91122291, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true,
      });
    </script>
    <noscript
      ><div>
        <img
          src="https://mc.yandex.ru/watch/91122291"
          style="position: absolute; left: -9999px"
          alt="" /></div
    ></noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- Favicons -->
    <link href="static/img/favicon.svg" rel="icon" />
    <link href="static/img/favicon.svg" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="static/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="static/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet" />
    <link
      href="static/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet" />
    <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="static/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet" />
    <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="static/css/style.css" rel="stylesheet" />
  </head>
  <body>
    {% block content %} {% endblock %}

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <h3>Reach me out here 👇</h3>
        <p>
          Feel free to ping me for volunteering, discussing your ideas or
          grabbing a cup of coffee.
        </p>
        <div class="social-links">
          <a href="https://github.com/i-pankrat/" class="github"
            ><i class="bx bxl-github"></i
          ></a>
          <a href="https://t.me/pankrat32" class="telegram"
            ><i class="bx bxl-telegram"></i
          ></a>
          <a href="https://vk.com/whopankrat" class="vk"
            ><i class="bx bxl-vk"></i
          ></a>
          <a
            href="https://www.instagram.com/ilysha_pankratov/"
            class="instagram"
            ><i class="bx bxl-instagram"></i
          ></a>
        </div>

        <p>
          Made with ❤️ by <strong><span>Ilya Pankratov</span></strong>
        </p>

        <div class="copyright">
          &copy; Copyright <strong><span>Pankrat</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </footer>
    <!-- ======= End Footer ======= -->

    <!-- Vendor JS Files -->
    <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="static/vendor/aos/aos.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/vendor/typed.js/typed.min.js"></script>
    <script src="static/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="static/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="static/js/main.js"></script>
  </body>
</html>
